

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BAY AREA DOG TRAINING Administrator DataBase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="Customers.html">Customers</a> |
            <a class="nav-item nav-link" href="Dogs.html">Dogs</a> |
            <a class="nav-item nav-link" href="Dog_has_Training_Session.html">Dog_has_Training_Session</a> |
            <a class="nav-item nav-link" href="Packages.html">Packages</a> |
            <a class="nav-item nav-link" href="Purchases.html">Purchases</a> |
            <a class="nav-item nav-link" href="Session_Types.html">Session_Types</a> |
            <a class="nav-item nav-link" href="Trainers.html">Trainers</a> |
            <a class="nav-item nav-link" href="Trainer_has_Training_Session.html">Trainer_has_Training_Sessions</a> |
            <a class="nav-item nav-link" href="Training_Sessions.html">Training_Sessions</a>
        </div>
    </div>
</nav>