<div style="text-align: center; display: flex; flex-direction: column; margin: 0 300px;">

{{>navbarPartial}}


<title>BADT Index</title>
<body>
    <h1>BAY AREA DOG TRAINING</h1>
    <p>Landing Page for BADT</p> 
</body>
</div>