<html>

<head>
    <title>Customers</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Customers</h1>

    <div id="browse" style="display: block">
        <p><strong>Browse Customers</strong></p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="#">New</a></th>
                <th></th>
                <th>ID</th>
                <th>name</th>
                <th>email</th>
                <th>phone number</th>
                <th>number of dogs enrolled</th>
            </tr>
            <tr>
                <td><a href="#"></a></td>
                <td><a href="#">Dogs Associated</a></td>
                <td align="right">1</td>
                <td>Bob Xavier</td>
                <td align="right">xavier@123.com</td>
                <td>555-555-5555</td>
                <td>2</td>
            </tr>
            <tr>
                <td><a href="#"></a></td>
                <td><a href="#">Dogs Associated</a></td>
                <td align="right">2</td>
                <td>Brittany Blaze</td>
                <td align="right">bblaze@123.com</td>
                <td>123-456-7890</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="#"></a></td>
                <td><a href="#">Dogs Associated</a></td>
                <td align="right">3</td>
                <td>Tony Soprano</td>
                <td align="right">tonys@gmail.com</td>
                <td>373-122-3104</td>
                <td>1</td>
            </tr>
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <div id="insert" style="display: block">
        <form id="addPlanet">
            <legend><strong>Insert Customer</strong></legend>
            <fieldset class="fields">
                <label> Name </label> <input type="text" name="name">
                <label> email </label> <input type="text" name="email">
                <label> phone number </label> <input type="text" name="phone number">
                <label> dogs enrolled </label> <input type="text" name="dogs enrolled">
            </fieldset>
            <input class="btn" type="submit" id="addPlanet" value="Add a Customer">
            <input class="btn" type="button" value="cancel">
        </form>
        <!--add new planet-->
    </div><!-- insert -->

    <p>&nbsp;</p>
    <div id="update" style="display: block">
        <form id="updatePlanet">
            <legend><strong>Update Customer</strong></legend>
            <fieldset class="fields">
                <label>ID:</label> 1
                <label> Name </label> <input type="text" value="" name="name">
                <label> email </label> <input type="text" name="population" value="">
                <label> phone number </label> <input type="text" name="phone number" value="">
                <label> dogs enrolled </label> <input type="text" name="dogs enrolled" value="">
            </fieldset>
            <input class="btn" type="submit" id="UpdateSavePlanet" value="Save Update Customer">
            <input class="btn" type="button" value="cancel">
        </form>
    </div><!-- update -->
    <p>&nbsp;</p>
    <div id="insert">
        <form method="POST" id="addPlanet">
            <legend><strong>Return Customer Purchases/Session Types</strong></legend>
            <fieldset class="fields">
                <label> Customer ID: </label> <input type="text" name="fname">
                <label> Customer Name: </label> <input type="text" name="lname">
            </fieldset>
            <input class="btn" type="submit" id="addDog" value="Return Customer Information">
            <input class="btn" type="button" value="cancel" onClick="browsePeople()">
        </form>
    </div>
    <p>&nbsp;</p>
    <div id="delete" style="display: block">
        <form id="deletePlanet">
            <legend><strong>Delete Customer</strong></legend>
            <fieldset class="fields">
                <p>Are you sure you wish to delete the following customer?</p>
                <label>ID:</label> <input>
                <label> Name: </label><input>

            </fieldset>
            <input class="btn" type="submit" id="DeleteCustomer" value="Delete Customer">
            <input class="btn" type="button" value="cancel">
        </form>
    </div><!-- delete -->
</body>

</html>