<html>

<head>
    <title>Dog has Training Session</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newDog() { showform('insert'); }
        function updateDog(pid) { showform('update'); }
        function deleteDog(pid) { showform('delete'); }
        function browseDogs() { showform('browse'); }
        function showAll() { showform('all'); }
    </script>
</head>

<body onload="browsePeople()">
    <h1>Dog has Training Session</h1>

    <div id="browse">
        <p><a href="#" onClick="showAll()">Display all forms</a> </p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="#" onClick="newDog()">New</a></th>
                <th></th>
                <th>id_dog</th>
                <th>id_training_session</th>
                <th>customer_feedback</th>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td align="right">1</td>
                <td align="right">1</td>
                <td align="right">Playmates a little rambunctious</td>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td align="right">2</td>
                <td align="right">3</td>
                <td align="right">was fine</td>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td align="right">3</td>
                <td align="right">2</td>
                <td align="right">NULL</td>
            </tr>
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <div id="insert">
        <form method="POST" id="addPlanet">
            <legend><strong>Insert New Dog_has_Training_Session</strong></legend>
            <fieldset class="fields">
                <label> id_dog </label> <input type="text" name="fname">
                <label> id_training_session </label> <input type="text" name="lname">
                <label> customer feedback </label> <input type="text" name="homeworld">
                </select>
            </fieldset>
            <input class="btn" type="submit" id="addDog" value="Insert New">
            <input class="btn" type="button" value="cancel" onClick="browsePeople()">
        </form>
    </div><!-- insert -->
    <p>&nbsp;</p>
    <div id="update">
        <form method="POST" id="UpdateDog">
            <legend><strong>Update Customer Feedback</strong></legend>
            <fieldset class="fields">
                <label> id_dog </label> <input type="text" name="fname">
                <label> id_training_session </label> <input type="text" name="lname">
                <label> customer feedback </label> <input type="text" name="homeworld">
                </select>
            </fieldset>
            <input class="btn" type="submit" id="UpdateSaveDog" value="Update Feedback">
            <input class="btn" type="button" value="cancel" onClick="browsePeople()">
        </form>
    </div><!-- update -->
    <p>&nbsp;</p>


</body>

</html>