<nav>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            [<a class="nav-item nav-link" href="/">Index</a>
            |
            <a class="nav-item nav-link" href="/Customers">Customers</a>
            |
            <a class="nav-item nav-link" href="/Dogs">Dogs</a>
            |
            <a class="nav-item nav-link" href="/Dog_has_Training_Session">Dog_has_Training_Session</a>
            |
            <a class="nav-item nav-link" href="/Packages">Packages</a>
            |
            <a class="nav-item nav-link" href="/Purchases">Purchases</a>
            |
            <a class="nav-item nav-link" href="/Session_Types">Session_Types</a>
            |
            <a class="nav-item nav-link" href="/Trainers">Trainers</a>
            |
            <a class="nav-item nav-link" href="/Trainer_has_Training_Session">Trainer_has_Training_Sessions</a>
            |
            <a class="nav-item nav-link" href="/Training_Sessions">Training_Sessions</a>]
        </div>
    </div>
</nav>