<html>

<<<<<<< HEAD:BADT_Files/views/partials/Session_Types_Partial.hbs
=======
[<a class="nav-item nav-link" href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Index">Index</a> |
<a class="nav-item nav-link" href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Customers">Customers</a> |
<a class="nav-item nav-link" href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Dogs">Dogs</a> |
<a class="nav-item nav-link"
    href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML//Dog_has_Training_Session">Dog_has_Training_Session</a> |
<a class="nav-item nav-link" href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Packages">Packages</a> |
<a class="nav-item nav-link" href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Purchases">Purchases</a> |
<a class="nav-item nav-link" href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Session_Types">Session_Types</a> |
<a class="nav-item nav-link" href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Trainers">Trainers</a> |
<a class="nav-item nav-link"
    href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Trainer_has_Training_Session">Trainer_has_Training_Sessions</a>
|
<a class="nav-item nav-link" href="/~bracamod/Bay-Area-Dog-Training/BADT_HTML/Training_Sessions">Training_Sessions</a>]
>>>>>>> 5a7bdbd53cd60167daaabfb89b574672623b6136:BADT_HTML/Session_Types.html

<head>
    <title>Session Types</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newDog() { showform('insert'); }
        function updateDog(pid) { showform('update'); }
        function deleteDog(pid) { showform('delete'); }
        function browseDogs() { showform('browse'); }
        function showAll() { showform('all'); }
    </script>
</head>

<body onload="browsePeople()">
    <h1>Session Types</h1>

    <div id="browse">
        <p><a href="#" onClick="showAll()">Display all forms</a> </p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="#" onClick="newDog()">New</a></th>
                <th></th>
                <th>id_session_type</th>
                <th>max_capacity</th>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td align="right">GROUP</td>
                <td align="right">15</td>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td align="right">PRIVATE</td>
                <td align="right">1</td>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td align="right">PUPPY</td>
                <td align="right">10</td>
            </tr>
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <div id="insert">
        <form method="POST" id="addPlanet">
            <legend><strong>Insert New Session Type</strong></legend>
            <fieldset class="fields">
                <label> id_session_type: </label> <input type="text" name="fname">
                <label> max_capacity: </label> <input type="text" name="lname">
            </fieldset>
            <input class="btn" type="submit" id="addDog" value="Insert Session Type">
            <input class="btn" type="button" value="cancel" onClick="browsePeople()">
        </form>
    </div><!-- insert -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div id="delete" style="display: block">
        <form method="POST" id="deleteDog">
            <legend><strong>Delete Session Type</strong></legend>
            <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <input type="hidden" name="DogID" id="deleteDogID" value="1">
                <label><strong> id_session_type: </strong><input type="text" name="homeworld"></label>

            </fieldset>
            <input class="btn" type="submit" id="DeleteDog" value="Delete Session Type">
            <input class="btn" type="button" value="cancel" onClick="browsePeople()">
        </form>
    </div><!-- delete -->

</body>

</html>