<html>


<head>
    <title>Trainer has Training Sessions</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newDog() { showform('insert'); }
        function updateDog(pid) { showform('update'); }
        function deleteDog(pid) { showform('delete'); }
        function browseDogs() { showform('browse'); }
        function showAll() { showform('all'); }
    </script>
</head>

<body onload="browsePeople()">
    <h1>Trainer has Training Sessions</h1>

    <div id="browse">
        <p><a href="#" onClick="showAll()">Display all forms</a> </p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a href="#" onClick="newDog()">New</a></th>
                <th></th>
                <th></th>
                <th>id_trainer</th>
                <th>id_training_session</th>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Get Training Sessions / Feedback</a></td>
                <td align="right">1</td>
                <td align="right">2</td>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Get Training Sessions / Feedback</a></td>
                <td align="right">2</td>
                <td align="right">3</td>
            </tr>
            <tr>
                <td><a href="#" onClick="updateDog('this.DogID')">Edit</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Delete</a></td>
                <td><a href="#" onclick="deleteDog('this.DogID')">Get Training Sessions / Feedback</a></td>
                <td align="right">3</td>
                <td align="right">1</td>
            </tr>
        </table>
        <p>&nbsp;</p>
    </div> <!-- browse -->
    <div id="insert">
        <form method="POST" id="addPlanet">
            <legend><strong>Insert New Trainer_has_Training_Session</strong></legend>
            <fieldset class="fields">
                <label><strong> id_trainer </strong></label>
                <select type="hidden" name="DogID" id="deleteDogID" value="1">
                    <option>1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <label><strong> id_training_session: </strong>
                <select type="hidden" name="DogID" id="deleteDogID" value="1">
                    <option>GROUP</option>
                    <option value="">PUPPY</option>
                    <option value="">SINGLE</option>
                </select>
            </fieldset>
            <input class="btn" type="submit" id="addDog" value="Insert New">
            <input class="btn" type="button" value="cancel" onClick="browsePeople()">
        </form>
    </div><!-- insert -->
    <p>&nbsp;</p>


</body>

</html>